#Autosave files
*~
.vs/*

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.rej
*.DS_Store
*.sln.cache
*.sln.DotSettings
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
*.bak
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
.idea/
*/Resources/Resource.Designer.cs
sh.exe.stackdump

#database
databases/*

com.opsuite.pos.apk
UpgradeLog.htm
